:root {
    --primary: #3BB77E;
    --primary-light: #DEF9EC;
    --white: #FFFFFF;
    --black: #253D4E;
    --red: #D41212;
    --yellow: #FBBC34;
    --text-dark: #253D4E;
    --text-light: #7E7E7E;
    --text-lighter: #B6B6B6;
}